
@{
    ViewData["Title"] = "Adminpage";
}


    <div class="container">
        <input type="file" id="file-input" multiple />
    <label for="file-input">
        <i class="fa-solid fa-arrow-up-from-bracket"></i>
        &nbsp; Choose Files To Upload pdf
    </label>
    <div id="num-of-files">No Files Choosen</div>
    <ul id="files-list"></ul>
    <input type="submit" />
</div>

<div class="container"></div>